/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 juil. 2017, 09:33:49
    Author     : Administrateur
*/

#horloge{
 
    height: 35px;
    border-radius:100%;
    width:200px;
    padding:5px;
    top: 0px;
    margin-left: 151px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .8);
    text-align: center;
 
}
.dd{
    
   font-size:  x-large;
   font-style: italic;
   font-weight:100;
   border-width:5px;
       color:#000000;
       opacity:1;
      right:-5px;
      border-width:0 0 5px 5px;
   
}
