<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>AutoCompleteBox</display-name>
    <distributable/>
    <servlet>
        <servlet-name>AutoCompleteProduit</servlet-name>
        <servlet-class>com.gestion.autocomplete.AutoCompleteProduit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteProduit</servlet-name>
        <url-pattern>/autocompleteproduit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>Authentification.Authentification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/authentification</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/errorPages/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorPages/404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errorPages/403.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>java:app/jdbc/myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>tempfile.dir</param-name>
        <param-value>tmpfiles</param-value>
    </context-param>
</web-app>
